<div><table border="1">
<caption> Customer </caption>
<thead>
<tr>
<th> CustomerID </th>
<th> FirstName</th>
<th> LastName</th>
<th> Email </th>
<th> Sex </th>
<th> Delete    </th>
<th> Modify    </th>
</tr>
<tbody>{% for user in users %}
	
<tr>
<td>{{user.0 }}</td>
          <td>{{ user.1 }} </td>
           <td>{{ user.2 }}</td>
<td> {{ user.3}} </td> 
<td> {{ user.4}} </td>
<td><form method="post" action="/delete?id={{ user.0 }}" style="display: inline;">
<input type="submit" value="delete" />
</form></td>	    		  
<td>
		    	
<form method="post" action="/modifydetail?id={{user.0}}" style="display: inline;"> 
		    	
<input type="submit" value="modify" /></form>
</td>
	    
</tr>{% endfor %}
	
	    
			
</tbody>
</table>
</div>
<div>
   
    <a href="/enterCustomername">Add another</a><br />
    <a href="/sqlInjection">Try a SQL injection attack</a>
</div>