 <form action="/Showingsubmit" method="post">
      Showing ID:<br>
     <input type="text" name="showingid" value="370"><br>
      Showing Date Time :<br>
     <input type="text" name="showingdatetime" value="2016-02-11 21:30:00"><br>
      Movie ID:<br>
     <input type="text" name="movieid" value="15"><br>
     RoomNumber:<br>
     <input type="text" name="roomnumber" value="1"><br>
     Ticket Price:<br>
     <input type="text" name="ticketprice" value="20"><br><br>
     <input type="submit" value="Submit">
 </form>
