 <form action="/submit" method="post">
      Showing ID:<br>
     <input type="text" name="ShowingID" value="370"><br>
      Showing Date Time :<br>
     <input type="text" name="ShowingDateTime" value="2016-02-11 21:30:00"><br>
      Movie ID:<br>
     <input type="text" name="MovieID" value="15"><br>
     RoomNumber:<br>
     <input type="text" name="RoomNumber" value="1"><br>
     Ticket Price:<br>
     <input type="text" name="TicketPrice" value="$20"><br><br>
     <input type="submit" value="Submit">
 </form>