<!DOCTYPE html>
<html> 
<head>
<title>Guest</title>
</head>
<body>
<table border="1">
<caption> Welcome </caption>
<tr>
<td><a href="/Movie" target="_blank">Movie</a></td>
</tr>
<tr>
<td><a href="/Genre" target="_blank">Genre</a></td>
</tr>
<tr>
<td><a href="/Showing" target="_blank">Showing</a></td>
</tr>
<tr>
<td><a href="/Customer" target="_blank">Customer</a></td>
</tr>
<tr>
<td><a href="/Attend" target="_blank">Attend</a></td>
</tr>
<tr>
<td><a href="/TheatreRoom" target="_blank">TheatreRoom</a></td>
</tr>

</table>
</body>