<!DOCTYPE html>
<html> 
<head>
<title>Search Showing</title>
</head>

<body>
<h2> Search Showing</h2>

<input type="checkbox" checked=true name="WP1" value="/GuestSearchTitle">Seat Available
<button onclick="opentabs()">Next</button>

<script>
function opentabs()
{
    var names = document.getElementsByName('WP1');
    for(var x = 0; x < names.length; x++)
    {
        if(names[x].checked)
        {
            window.open(names[x].value);
        }
    }
}
</script>

</body>
</html>