<div>
	<h1> Edit Attend</h1>

	<form id="editForm" method="post" action="modifyAttend">
		<label> Edit CustomerID</label><br>
		<input type="text" name="customerid" value="{{customerid}}" customerid ="customerid"/><br>
		<label> ShowingID</label><br>
		<input type="text" name="showingid" value="{{showingid}}" customerid="showingid"/><br>
                <label>Rating </label><br>
		<input type="text" name="rating" value="{{rating}}" customerid="rating"/><br>

		<input type="submit" value = "Submit"/>
	</form>
</div>