<div>
	<h1> Edit Showing</h1>

	<form id="editForm" method="post" action="modifyShowing">
		<label> ShowingID </label><br>
		<input type="text" name="showingid" value="{{showingid}}" showingid ="showingid"/><br>
		<label> ShowingDateTime</label><br>
		<input type="text" name="showingdatetime" value="{{showingdatetime}}" showingid="showingdatetime"/><br>
                <label>MovieID</label><br>
		<input type="text" name="movieid" value="{{movieid}}" showingid="movieid"/><br>
                <label> RoomNumber</label><br>
		<input type="text" name="roomnumber" value="{{roomnumber}}" showingid="roomnumber"/><br>
                <label> TicketPrice </label><br>
		<input type="text" name="ticketprice" value="{{ticketprice}}" showingid="ticketprice"/><br>
		<input type="submit" value = "Submit"/>
	</form>
</div>