<div><table border="1">
<caption> Movies</caption>
<thead>
<tr>
<th> Movie ID </th>
<th> Movie Name</th>
<th> Movie Year</th>
<th> Delete    </th>
<th> Modify    </th>
</tr>
<tbody>{% for user in users %}
	
<tr>
<td>{{user.0 }}</td>
          <td>{{ user.1 }} </td>
           <td>{{ user.2 }}</td>
<td><form method="post" action="/Moviedelete" style="display: inline;">
<input type="submit" value="delete" />
</form></td>	    		  
<td>
		    	
<form method="post" action="/Moviemodify" style="display: inline;"> 
		    	
<input type="submit" value="modify" /></form>
</td>
	    
</tr>{% endfor %}
	
	    
			
</tbody>
</table>
</div>
<div>
   
    <a href="/enterMoviename">Add another</a><br />
    <a href="/sqlInjection">Try a SQL injection attack</a>
</div>