<div><table border="1">
<caption> TheatreRoom </caption>
<thead>
<tr>
<th> RoomNumber</th>
<th> Capacity</th>
<th> Delete    </th>
<th> Modify    </th>
</tr>
<tbody>{% for user in users %}
	
<tr>
<td>{{user.0 }}</td>
          <td>{{ user.1 }} </td>
          
<td><form method="post" action="/delete?id={{ user.0 }}" style="display: inline;">
<input type="submit" value="delete" />
</form></td>	    		  
<td>
		    	
<form method="post" action="/modifyTheatreRoom" style="display: inline;"> 
		    	
<input type="submit" value="modify" /></form>
</td>
	    
</tr>{% endfor %}
	
	    
			
</tbody>
</table>
</div>
<div>
   
    <a href="/enterTheatreRoomname">Add another</a><br />
    <a href="/sqlInjection">Try a SQL injection attack</a>
</div>